*{
    margin: 0;
    padding: 0;
}

.main{
    position:relative;
    background: url(https://img.freepik.com/free-photo/vintage-clock_74190-5727.jpg?w=740&t=st=1672069701~exp=1672070301~hmac=1b803060d53197c1da8b01e0ab0e300bc8ca09fbb2119f98e8224ec3dc19aeab);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

h1{
    text-align: center;
    font-size: 3rem;
    padding-top: 10%;
}

.watch,.vent{
    display: flex;
    font-size: 3rem;
    justify-content: center;
    margin-top: 2%;
}

.watch>p{
    margin: 8px;
}

.vent>button{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(189, 184, 184, 0.8);
    cursor: pointer;
    border-radius: 6px;
    margin: 3px;
    padding: 8px;
    width: 4em;
    font-size: 2rem;
}

.att{
    opacity: 0.4;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media screen and (max-width:600px) {
    h1{
        padding-top: 20%;
        font-size: 2.5rem;
    }

    .vent{
        flex-direction: column;
        align-items: center;
    }
}
